table, td {
    border: 2px solid black;  
    margin:1.45rem auto;
}

.first {
    height: 100%;
    padding: 0rem 1rem;
}

.btn {
    margin: 2rem 0.5rem;
    width: 100%;
}

.pad {
    padding-left: 1.9rem;
    padding-right: 1.9rem;
}

label {
    cursor: pointer;
}

#upload {
    opacity: 0; 
    position: absolute;
    z-index: -1;  
}

.norm {
    font-size:2.5rem;
    font-weight: lighter;
    font-style: normal;
    color:rgb(58, 57, 57);
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
}

.second {
    width: 70rem;
    height: 65rem;
    padding: 0.6rem;
    border : 1px solid black;
    font-size:2.5rem;
    font-weight: lighter;
    font-style: normal;
    text-align: center;
    vertical-align: middle;
}

#img-txt {
    text-align:center;
    font-size: 25px;
    font-weight: lighter;
    position: absolute;
    font-style: normal;
    visibility: visible;
    margin: 25rem 23rem;
}

.img {
    position: relative;
    width: 100%;
    height: 100%;
}

.third {
    width: 100%;
    height: 60rem;
    padding: 0 0.8rem;
    padding-top: 10rem;
}

.leaf-count {
    width: 100%;
    height: auto;
    margin: 15rem 0;
    display: inline;
    padding-top: 15rem;
}

.count {
    font-size: 2.3rem;
    background-color: transparent;
    font-style: normal;
    font-weight: lighter;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.7rem;
    margin-bottom: 1rem;
}

#detect {
    background-color: transparent;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: lighter;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 100%;
    bottom: 0;
    padding: 0.2rem 2.3rem;
}

#count{
    text-align: center;
    margin-bottom: 20rem;
}
